<!DOCTYPE html>
<html>
<head>
	<title>Sprout</title>
	<link rel="stylesheet" type="text/css" href="main.css"/>
</head>
<body>
	<h1>Mystwood Publishers Ltd.</h1>
	<div class="hero">
		<h2>Sprout.</h2>
		<p>A book by J. Daniel Bedford</p>
		<a href="#">Read now.</a>
	</div>
	<p>&copy; Mystwood Publishers Limited</p>
  <p id="footer">&copy; Mystwood Publishers Limited</p>
  <a id="learn-code" href="https://www.codecademy.com">Click here to learn to code!</a>

  .hero {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
}
</body>
</html>

c

  
